.landing-page {
    height: 100vh;
    width: 100vw;
    background: url('../img/home/goldPokemonBackground.jpg') no-repeat center center;
    background-size: cover;

}


.login-popup-container {
    width: 100vw;
    height: 100vh;
    background: url('../img/home/goldPokemonGif.gif') no-repeat center center;
    background-size: contain;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-popup {
    height: 60vh;
    width: 40vw;
    background: #F8F8F8;
    border: 2px solid #78A0F8;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.login-popup .password-input {
    position: relative;
}

.login-popup .eye-toggle-icon {
    position: absolute;
    right: 5%;
    bottom: 25%;
}

.login-popup form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.login-popup .opt-btn-container footer {
    font-size: 0.5rem;
    text-align: center;
}

.login-popup form label {
    margin: 0.45rem;
}

.login-popup form input {
    margin: 0.45rem;
}

.login-popup img {
    height: 10vh;
}

.login-popup button {
    margin: 0;
}

.login-popup p {
    text-align: center;
    margin: 0;
    color: rgba(243, 79, 79);
}

.pokemons-desplayer {
    height: 80vh;
    width: 80vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.pokemons-desplayer .pokemons-desplayer-pokeball {
    width: 9vw;
    height: 15vh;
}

.pokemons-desplayer .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemons-desplayer .content {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;

}

.pokemons-desplayer .pokemon-gif img {
    height: 12vh;
}

.pokemons-desplayer .content .pokemon-gif {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0.5rem;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
    position: relative;
}

.pokemons-desplayer .hovered-pokemon {
    background: whitesmoke;
    border-radius: 5px;
    height: 35vh;
    width: 40vh;
    text-align: center;
    z-index: 123123;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    overflow: hidden;
}
.pokemons-desplayer .hovered-pokemon p {
   font-size: 0.65rem;
}
.pokemons-desplayer .hovered-pokemon img {
    justify-self: center;
    grid-column: span 2;
}
.pokemons-desplayer .hovered-pokemon .attacks {
    grid-column: span 2;
    font-size: small;
}
.pokemons-desplayer .hovered-pokemon .attacks span span{
    font-size: 0.65rem;
    margin: 0 0.2rem;
}
