.prebuy{
    position: absolute;
    background: rgba(220, 217, 124);
    top: 30vh;
    left: 30vw;
    height: 40vh;
    width: 40vw;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.prebuy img{
    height: 25vh;
    margin: 0;
}
.prebuy .dollar-sign{
    font-size: larger;
    color: #3d9634;
}

.prebuy .pokemon-buy-popup-display{
display: flex;
justify-content: center;
align-items: center;
}

.prebuy .btn-container button{
    cursor: pointer;
    height: 100%;
    margin: 0;
}
.prebuy .btn-container  i{
    display: none;
}