.dd{
    display: flex;
    flex-direction: column;
}

.dd-btn{
    height: 6vh;
    width: 20vw;
    border: none;
    outline: none;
    cursor: pointer;
}

.dd-btn:hover{
    opacity: 0.8;
}

.hide{
    display: none;
}