:root{
    --primary:#77ab59;
    --secondary:#c3bfb4; 
 }

.header {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 12vh;   
}

.header-bg {
    height: 10vh;
    width: 100vw;
    background: #fff;
    z-index: -10;
    filter: drop-shadow(0rem 0rem 0.2rem rgba(0, 0, 0, 0.3));
}

.sailes-compare-logo {
    height: 18vh;
    position: relative;
    top: -1vw;
    background-color: #fff;
    right: 4vw;
    border-radius: 50%;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}

.cart {
    height: 15vh;
    position: relative;
    top: -2vh;
}