.side-nav {
    height: 100vh;
    width: 15vw;
    background: #77ab59;
    overflow: hidden;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transform: translateX(-15vw);
}

.btn-wrapper {
    display: inline-block;
    position: absolute;
    left: 16vw;
    top: 0.5vw;
    transform: translateX(-15vw);
}

.nav-img {
    height: 30vh;
    width: 15vw;
}

.side-nav .opt{
    width: 100%;
    height: 10vh;
}

.side-nav a{

}
.opt:hover{
    background-color: gray;
}


.show-nav {
    animation: comeHere 1s forwards;
}

.hide{
    animation: goAway 1s;
}

@keyframes goAway{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-15vw);
    }
}

@keyframes comeHere {
    to {
        transform: translateX(0);
    }
}

